<div class="hero-container">
  <h1>web design</h1>

  <p>
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum , ut
    fermentum massa justo sit amet erat a ante venenatis dapibus posuere velit
  </p>

  <div class="button-wrapper">
    <button>really?</button>
    <hr />
  </div>

  <div class="vertical-lines">
    <div class="line-basis"></div>
  </div>

  <div class="play-button">
      <img src="../../assets/images/play-button.svg" alt="play button" class="arrow"/>
  </div>
</div>
