<div class="backdrop" (click)="onCloseModal()">
  <div class="modal" onclick="event.stopPropagation()">
    <div class="data">
      <div>
        <h2>{{ data ? data.title : null }}</h2>
        <p>{{ data ? data.subtitle : null }}</p>
        <div class="plaintext" #plaintextContainer>
          <p *ngIf="plaintext">{{ plaintext }}</p>
          <div class="spinner" *ngIf="!plaintext">
            <div class="cube1"></div>
            <div class="cube2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="graphics-wrapper" *ngIf="data">
      <img [src]="data.image" *ngIf="data.image" />
      <video *ngIf="data.video" autoplay="true" loop="true">
        <source [src]="data.video" type="video/mp4" />
      </video>
    </div>
    <span class="icon" (click)="onCloseModal()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </span>
  </div>
</div>
