<div class="image-row-container">
  <div class="image-row">
    <div
      class="image-container"
      *ngFor="let content of contents"
      (click)="onActivate(content)"
    >
      <img [src]="content.image" alt="article cover" *ngIf="content.image" />
      <video height="100%" *ngIf="content.video" autoplay>
        <source [src]="content.video" type="video/mp4" />
      </video>
      <div class="title">
        <h2>
          {{ content.title }}
        </h2>
        <p>
          {{ content.subtitle }}
        </p>
      </div>
    </div>
  </div>

  <div
    class="modal-container"
    [@openCloseModal]="activated ? 'open' : 'closed'"
    (click)="onDeactivate()"
  >
    <app-modal [activated]="activated" [data]="data"></app-modal>
  </div>
</div>
